:root {
	--c1: #d87f62;
	--c2: #0d321b;
	--c3: #f2f5e9;
	--f1: monospace;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0 5rem;
	background-color: var(--c3);
}

main {
	margin-top: 10rem;
	padding: 2rem;
}
