@font-face {
	font-family: "Rokkitt";
	src: url("./fonts/Rokkitt-Medium.ttf");
}

:root {
	--c1: #d87f62;
	--c2: #0d321b;
	--c3: #f2f5e9;
	--c4: #0a8d66;
	--f1: Rokkitt, monospace;
  --f2: Caligraphy, calibre;
}

* {
	box-sizing: border-box;
	font-family: var(--f2);
	font-weight: 500;
}

body {
	margin: 0;
	padding: 0 5rem;
	background-color: var(--c3);
}

main {
	margin-top: 1rem;
}

h1,h2,h3{
  font-family: var(--f1);
  font-weight: 600;
}
@media (max-width: 1300px) {
	body {
		padding: 0 3.5rem;
	}
}

@media (max-width: 1050px) {
	body {
		padding: 0 2rem;
	}
}

@media (max-width: 600px) {
	body {
		padding: 0 1rem;
	}
}
