@font-face {
	font-family: "Rokkitt";
	src: url("./fonts/Rokkitt-Medium.ttf");
}

:root {
	--c1: #d87f62;
	--c2: #0d321b;
	--c3: #f2f5e9;
	--c4: #0a8d66;
	--f1: Rokkitt, monospace;
}

* {
	box-sizing: border-box;
	font-family: var(--f1);
	font-weight: 500;
}

body {
	margin: 0;
	padding: 0 5rem;
	background-color: var(--c3);
}

main {
	margin-top: 10rem;
	padding: 2rem;
}
