/* navigation styles */
.bar {
	display: block;
	width: 25px;
	height: 3px;
	background-color: var(--c3);
	transition: all 0.3s ease-in-out;
	margin: 0.2rem auto;
}

.innerlinks {
	display: flex;
	gap: 3rem;
}

.ham {
	display: none;
}

.align {
	display: none;
}

.hide_link {
	display: none;
}

@media (max-width: 950px) {
	.hide_link {
		display: block;
	}
}

/* media queries */
@media (max-width: 850px) {
	.ham {
		display: block;
		cursor: pointer;
		z-index: 4;
	}

	.align {
		content: " ";
		display: block;
	}

	.innerlinks {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		text-align: center;
		position: absolute;
		top: 0;
		left: 0;
		transition: height 0.3s;
		height: 1rem;
		overflow: hidden;
		width: 100%;
		z-index: -2;
		background-color: inherit;
		padding: 10rem 0 25rem 0;
	} /* Now it is actually hidden */

	.innerlinks.active {
		height: 26rem;
		z-index: 3;
	}

	.ham.active .bar:nth-child(2) {
		display: none;
	}

	.ham.active .bar:nth-child(1) {
		transform: translateY(9px) rotate(45deg);
	}

	.ham.active .bar:nth-child(3) {
		transform: translateY(0) rotate(-45deg);
	}

	ul li .button {
		border: none;
		padding: 0;
		width: auto;
		margin: 0 auto;
		transition: none;
	}
}
