/* navigation styles */
.bar {
	display: block;
	width: 25px;
	height: 3px;
	background-color: var(--c3);
	transition: all 0.3s ease-in-out;
	margin: 0.3rem auto;
}

.ham {
	display: block;
	cursor: pointer;
}
